<div class="attending-events-list">
  <h2>
    attending events (future):
  </h2>
  <ul>
    <% current_user.attending_events.where('date >= ?', Date.today).each do |event| %>
      <div class="event">
        <div class="name">
          <p>
            Event name:
            <%= event.name %>
          </p>
        </div>
        <div class="creator">
          <p>
            By :
            <% if current_user %>
              <%= event.creator.name %>
            <% else %>
              Anonymous user
            <% end %>
          </p>
        </div>
        <div class="show_link">
          <%= link_to "Show", event_path(event) %>
        </div>
      </div>
    <% end %>
  </ul>

  <h2>
    attending events (past):
  </h2>
  <ul>
    <% current_user.attending_events.where('date < ?', Date.today).each do |event| %>
      <div class="event">
        <div class="name">
          <p>
            Event name:
            <%= event.name %>
          </p>
        </div>
        <div class="creator">
          <p>
            By :
            <% if current_user %>
              <%= event.creator.name %>
            <% else %>
              Anonymous user
            <% end %>
          </p>
        </div>
        <div class="show_link">
          <%= link_to "Show", event_path(event) %>
        </div>
      </div>
    <% end %>
  </ul>
</div>

<%= link_to "Back", events_path %>
