<%= form_with model: @event do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true, autocomplete: "Event Name", minlength: 3 %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location, autocomplete: "Building no., Street, City", minlength: 10 %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date, min: Date.today %>
  </div>
  <div class="actions">
    <%= f.submit "Create Post" %>
  </div>
<% end %>

<%= link_to "Back", events_path %>
