<div class="event">
  <div class="name">
    <p>
      Event name:
      <%= @event.name %>
    </p>
  </div>
  <div class="location">
    <p>
      location:
      <%= @event.location %>
    </p>
  </div>
  <div class="date">
    <p>
      date:
      <%= @event.date %>
    </p>
  </div>
  <div class="creator">
    <p>
      By :
      <% if current_user %>
        <%= @event.creator.name %>
      <% else %>
        Anonymous user
      <% end %>
    </p>
  </div>
  <% if @event.attendee_ids.include?(current_user.id) %>
    <div class="attend-status">
      Attending This!
    </div>
    <div class="unattend-button">
      <%= button_to "Un Attend",
      event_event_attendee_path(event_id: @event.id, id: current_user.id),
      method: :delete %>
    </div>
  <% else %>
    <div class="attend-button">
      <%= button_to "Attend this!", event_event_attendees_path(@event) %>
    </div>
  <% end %>
  <div class="attendees-list">
    <p>
      attendees:
    </p>
    <ul>
      <% @event.attendees.each do |item| %>
        <li>
          <%= item.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Back", events_path %>
